* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #1f2937;
    line-height: 1.6;
}

/* Main introduction */

body {
    padding: 80px 10%;
}

h1 {
    font-size: 3.5rem;
    color: #111827;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.5rem;
    color: #4b5563;
    font-weight: 500;
    margin-bottom: 60px;
}

h3 {
    font-size: 2rem;
    color: #111827;
    margin-bottom: 20px;
}

/* About me text */

p {
    max-width: 750px;
    font-size: 1.1rem;
    color: #4b5563;
}

/* Small line above the name */

body::before {
    content: "PORTFOLIO";
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #2563eb;
    margin-bottom: 15px;
}

/* Mobile */

@media (max-width: 600px) {

    body {
        padding: 50px 25px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 1.6rem;
    }
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 70px;
    padding-bottom: 20px;

    border-bottom: 1px solid #d1d5db;
}

.nav-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #111827;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #4b5563;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #2563eb;
}


/* Navigation on phones */

@media (max-width: 600px) {

    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 50px;
    }

    .nav-links {
        gap: 15px;
        flex-wrap: wrap;
    }
}
/* Skills Section */

#skills {
    margin-top: 100px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.skill-card {
    background-color: white;
    padding: 25px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

.skill-card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #111827;
}

.skill-card p {
    font-size: 1rem;
    color: #4b5563;
}
